/* 报名流程css */
.flow_banner{width:100%; height: 260px; background: url(../images/bm_banner.jpg) no-repeat center top;}
.flow_main{overflow: hidden;}
.flow_con{width:1200px; margin:20px auto; background: #fff;}
.flow_con .inner{padding:50px; width:1100px;}
.flow_con .flow_hd{width:100%;}
.flow_con .flow_hd .hd{overflow: hidden; height: 80px;}
.flow_con .flow_hd h2{float:left; font-size:24px; height: 40px; line-height: 40px; background:url(../images/search.jpg) no-repeat left center; padding-left:50px;}
.flow_con .flow_hd .selectbox{float:left; margin-left:65px;}
.flow_con .flow_hd .selectbox span{float:left; font-size:18px; color: #fff; display: inline-block; line-height: 40px; padding:0 20px; background: #4475AF;}
.flow_con .flow_hd .selectbox select{float: left; height: 40px; border-left:0; width:174px; padding-left: 5px; max-height: 300px; font-size:15px;}
.flow_con .kb_con{overflow: hidden;}
.flow_con .kb_list{width:1120px;}
.flow_con .kb_con ul{float:left; width:550px; border-right: 1px dashed #B3B3B3;}
.flow_con .kb_con ul li{float:left; font-size: 16px; margin-right: 10px; color:#6a6a6a; height: 54px; line-height: 54px;}
.flow_con .kb_con ul li .span_name{padding-left: 7px;text-align: center;}
.flow_con .kb_con ul li span{margin-right: 10px; display: inline-block;}
.flow_con .kb_con ul li span.span_status {background: url(../images/hot.png) no-repeat left center; padding-left: 25px;}
.flow_con .kb_con ul li span.ocp_full{background:none; color:#999;}
.flow_con .kb_con ul li a{padding:5px 10px; border: 1px solid #7A7A7A; color: #4475AF;}
.flow_con .kb_con ul li a:hover{border-color:#4475AF;}
.flow_con .box_flow{ margin-top: 45px;}
.flow_con .flow_tt{margin-bottom: 8px;}
.box_flow p{text-indent: 52px; line-height: 30px;}
.box_flow p.p_s{font-size:12px; color: #6f6f6f; line-height: 26px;}
.box_flow p.p_c{text-align: center; text-indent: 0; margin-top: 20px; font-size:18px;}
.box_flow p span{color:#d8271c;}
.box_flow .bm_btn{display: block; width:150px; height:43px; text-align: center; line-height: 43px; font-size:16px; color: #fff; background: #0099E5; margin:15px auto;}
.box_flow .bm_btn:hover{background: #00AAFF;}
.box_flow .city_tab a{border-bottom: 1px solid #dfdfdf;}
.bank .bank_list{display: none;}
.bank .bank_list_cur{display: block;}
.bank h3{font-size:18px; margin:36px 0 10px 0; text-indent: 52px;}
.bank p span{color:#d8271c;}